autogen_agentchat==0.7.5
autogen_core==0.7.5
autogen_ext==0.7.5
azure_storage==0.37.0
Flask==3.1.2
Flask_Cors==3.0.10
neo4j==6.0.3
numpy==2.3.4
openai==2.7.1
pandas==2.3.3
psycopg2_binary==2.9.9
pydantic==2.12.4
pygame==2.6.1
python-dotenv==1.2.1
Requests==2.32.5
supabase==2.24.0
websockets==13.1
